@if (jobs.length > 0) {
    @for (job of jobs; track $index){
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-2 d-flex justify-content-center align-items-center">
                    <img [src]="job.companyLogo" class="img-fluid rounded-start w-50" alt="...">
                  </div>
              <div class="col-md-8">
                <div class="card-body">
                    @if (showList) {
                        <h5 class="card-title" (click)="navigateToJobDetais(job)">{{job.title}}</h5>

                      } @else {
                        <h5 class="card-title">{{job.title}}</h5>
                    }
                  <div class="row g-2">
                  <div class="col">
                    <div class="p-3">Company:{{job.companyName}}</div>
                  </div>
                  <div class="col-8">
                    <div class="p-3">References: {{job.reference}}</div>
                  </div> 
                </div>
                </div>
              </div>
              @if (showList) {
              <div  class="col-md-2 d-flex justify-content-center align-items-center" >
                <span class="icon-star star-large" id="star-{{job.id}}" [class.active]="isFavorite(job)" (click)="toggleFavorite(job)"></span>

                <!-- <i id="star-{{job.id}}" class="bi {{ isFavorite(job) ? 'bi-star-fill' : 'bi-star' }} fs-3" (click)="toggleFavorite(job)"></i> -->
              </div>

              
            }
            </div>
          </div>
        } 
  } @else {
    <div class="col-md-12 d-flex justify-content-center align-items-center">
        No Favorite Selected
    </div>
  }

